In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df22 = pd.read_excel('/Users/seoihwan/Desktop/escuela/BDA_proj/5_BDA/data/2022foreigner.xlsx')

In [4]:
viet = df22[df22.D_NAT == 19]
display(viet)

,id,Q1,RQ1,Q3,Q3B1,Q3B2,Q3B3,Q4,Q4A01,Q4A02,...,Q9,D_MON,D_BUN,D_NAT,D_SEX,D_AGE,D_MOK,D_PLA,D_Q1,D_TYP
28,397,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,2,4,1,1,NaN
30,402,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,2,4,1,1,NaN
35,482,1,1,2,13.0,2.0,NaN,1,NaN,2.0,...,5,1,1,19,2,3,2,1,1,NaN
63,627,1,1,2,13.0,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,4,2,1,1,NaN
164,1101,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,2,4,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18986,40227,3,3,4,NaN,NaN,NaN,1,1.0,2.0,...,5,12,4,19,2,2,4,1,3,NaN
19248,40686,2,2,2,12.0,1.0,3.0,1,1.0,2.0,...,5,12,4,19,2,5,2,3,2,1.0
19341,40824,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,4,12,4,19,2,2,4,1,1,NaN
19528,41129,4,4,4,NaN,NaN,NaN,1,1.0,2.0,...,4,12,4,19,1,2,4,3,4,1.0
19529,41134,3,3,2,1.0,3.0,2.0,1,1.0,2.0,...,5,12,4,19,2,5,2,3,3,1.0

### 베트남의 MZ의 가장 만족한 활동

In [9]:
viet['D_AGE'].value_counts()

2    58
3    44
1    20
4    18
5     9
6     3
Name: D_AGE, dtype: int64

In [14]:
mz = viet[viet.D_AGE.isin([1,2,3])]
mz['Q4B1'].value_counts() + mz['Q4B2'].value_counts() + mz['Q4B3'].value_counts()

1.0     88.0
2.0     98.0
3.0     67.0
4.0     36.0
5.0     12.0
6.0      7.0
7.0      NaN
8.0      3.0
9.0      NaN
10.0     8.0
11.0    10.0
12.0     3.0
13.0     NaN
14.0     NaN
15.0     NaN
dtype: float64

In [34]:
mz['Q3B1'].value_counts() + mz['Q3B2'].value_counts() + mz['Q3B3'].value_counts()

1.0     44.0
2.0     42.0
3.0     30.0
4.0     11.0
5.0      NaN
6.0      NaN
7.0     14.0
9.0      NaN
10.0     NaN
11.0     NaN
12.0     NaN
13.0     NaN
dtype: float64

1위 음식  
2위 쇼핑  
3위 자연  
4위 유흥

### MZ vs XY 체재기간

In [62]:
print(mz.Q2a2.median())
print(mz.Q2a2.mean())

11.0
57.032786885245905

In [6]:
mz.MQ2A2_61.mean()

9.725274725274724

In [7]:
no_mz.MQ2A2_61.mean()

11.653846153846153

In [64]:
mz.Q2a2.value_counts()

4      18
5      18
15     14
7       8
6       7
90      5
8       4
3       4
10      2
365     2
30      2
17      2
19      2
91      2
61      2
180     2
210     2
120     2
330     2
16      1
13      1
33      1
12      1
24      1
21      1
306     1
132     1
28      1
272     1
302     1
31      1
14      1
300     1
121     1
181     1
182     1
331     1
27      1
233     1
360     1
189     1
Name: Q2a2, dtype: int64

In [15]:
no_mz = viet[~(viet.D_AGE.isin([1,2,3]))]
print(no_mz.Q2a2.median())
print(no_mz.Q2a2.mean())

7.0
24.6

### MZ vs XY 방한 횟수

In [10]:
mz.Q1.describe()

count    122.000000
mean       2.254098
std        2.991894
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       20.000000
Name: Q1, dtype: float64

In [20]:
mz.Q1.value_counts()/len(mz)*100

1     65.573770
2     11.475410
3      9.016393
5      6.557377
10     3.278689
20     1.639344
4      1.639344
6      0.819672
Name: Q1, dtype: float64

In [11]:
no_mz.Q1.describe()

count    30.000000
mean      2.200000
std       1.882771
min       1.000000
25%       1.000000
50%       2.000000
75%       2.750000
max      10.000000
Name: Q1, dtype: float64

In [21]:
no_mz.Q1.value_counts()/len(no_mz)*100

1     46.666667
2     26.666667
3     13.333333
5      6.666667
10     3.333333
4      3.333333
Name: Q1, dtype: float64

In [29]:
## 이상치 제거
print(mz[mz.Q1 < 10].Q1.mean())
print(no_mz[no_mz.Q1 < 10].Q1.mean())

1.6810344827586208
1.9310344827586208

In [205]:
## Y21
print(mz21.Q1.describe())
print(mz21.Q1.value_counts(normalize=True)*100)

count    17.000000
mean      3.411765
std       5.172751
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      20.000000
Name: Q1, dtype: float64
1     58.823529
2     23.529412
10    11.764706
20     5.882353
Name: Q1, dtype: float64

In [206]:
print(no_mz21.Q1.describe())
print(no_mz21.Q1.value_counts(normalize=True)*100)

count    1.0
mean     2.0
std      NaN
min      2.0
25%      2.0
50%      2.0
75%      2.0
max      2.0
Name: Q1, dtype: float64
2    100.0
Name: Q1, dtype: float64

In [207]:
# 2020
print(mz20.Q1.describe())
print(mz20.Q1.value_counts(normalize=True)*100)

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Q1, dtype: float64
Series([], Name: Q1, dtype: float64)

In [208]:
print(no_mz20.Q1.describe())
print(no_mz20.Q1.value_counts(normalize=True)*100)

count     7.000000
mean      4.142857
std       3.184785
min       1.000000
25%       1.500000
50%       5.000000
75%       5.000000
max      10.000000
Name: Q1, dtype: float64
5     42.857143
1     28.571429
10    14.285714
2     14.285714
Name: Q1, dtype: float64

In [209]:
#19
print(mz19.Q1.describe())
print(mz19.Q1.value_counts(normalize=True)*100)

count    493.000000
mean       2.328600
std        5.091993
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max      100.000000
Name: Q1, dtype: float64
1      63.691684
2      16.227181
3       6.896552
4       3.245436
5       2.839757
10      2.434077
6       1.825558
8       0.811359
20      0.405680
15      0.405680
9       0.202840
100     0.202840
16      0.202840
18      0.202840
12      0.202840
7       0.202840
Name: Q1, dtype: float64

In [210]:
print(no_mz19.Q1.describe())
print(no_mz19.Q1.value_counts(normalize=True)*100)

count    255.000000
mean       1.725490
std        1.525098
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       10.000000
Name: Q1, dtype: float64
1     68.627451
2     14.509804
3      7.843137
4      3.529412
5      2.352941
6      1.176471
10     1.176471
9      0.392157
8      0.392157
Name: Q1, dtype: float64

### MZ vs XY 재방문 희망

In [17]:
mz.Q7.describe()

count    122.000000
mean       4.754098
std        0.451105
min        3.000000
25%        5.000000
50%        5.000000
75%        5.000000
max        5.000000
Name: Q7, dtype: float64

In [18]:
no_mz.Q7.describe()

count    30.000000
mean      4.900000
std       0.305129
min       4.000000
25%       5.000000
50%       5.000000
75%       5.000000
max       5.000000
Name: Q7, dtype: float64

### MZ 타인추천

In [22]:
mz.Q9.describe()

count    122.000000
mean       4.795082
std        0.425208
min        3.000000
25%        5.000000
50%        5.000000
75%        5.000000
max        5.000000
Name: Q9, dtype: float64

In [24]:
mz.Q9.value_counts()

5    98
4    23
3     1
Name: Q9, dtype: int64

In [23]:
no_mz.Q9.describe()

count    30.000000
mean      4.900000
std       0.305129
min       4.000000
25%       5.000000
50%       5.000000
75%       5.000000
max       5.000000
Name: Q9, dtype: float64

In [25]:
no_mz.Q9.value_counts()

5    27
4     3
Name: Q9, dtype: int64

### mz 방문 지역 확인

In [41]:
viet.iloc[:,28]

28       1.0
30       1.0
35       NaN
63       NaN
164      NaN
        ...
18986    1.0
19248    NaN
19341    1.0
19528    1.0
19529    NaN
Name: Q5A01, Length: 152, dtype: float64

In [47]:
mz.iloc[:,28:45].count()/len(mz)*100

Q5A01    80.327869
Q5A02    27.868852
Q5A03    13.114754
Q5A04     9.836066
Q5A05     3.278689
Q5A06     2.459016
Q5A07     3.278689
Q5A08     3.278689
Q5A09    15.573770
Q5A10     3.278689
Q5A11     6.557377
Q5A12     1.639344
Q5A13    22.131148
Q5A14     3.278689
Q5A15     1.639344
Q5A16     1.639344
Q5A17     4.098361
dtype: float64

In [46]:
no_mz.iloc[:,28:45].count()/len(no_mz)*100

Q5A01    60.000000
Q5A02    10.000000
Q5A03    16.666667
Q5A04    13.333333
Q5A05     0.000000
Q5A06     0.000000
Q5A07    10.000000
Q5A08     3.333333
Q5A09    10.000000
Q5A10    10.000000
Q5A11     3.333333
Q5A12     6.666667
Q5A13    10.000000
Q5A14     3.333333
Q5A15     0.000000
Q5A16     6.666667
Q5A17    16.666667
dtype: float64

### 2022 베트남 남 녀 현황 보기

In [31]:
viet.D_SEX.value_counts()

2    97
1    55
Name: D_SEX, dtype: int64

In [49]:
man = viet[viet.D_SEX == 1]
woman = viet[viet.D_SEX == 2]
print(len(man), len(woman))

55 97

In [58]:
print( '남/여 체류기간 :', 
man.MQ2A2_61.mean(),'/',
woman.MQ2A2_61.mean())

남/여 체류기간 : 9.688888888888888 / 10.444444444444445

In [60]:
# 결측치 제거
print( '남/여 방한횟수 :', 
man[man.Q1 < 10].Q1.mean(),'/',
woman[woman.Q1 < 10].Q1.mean())

남/여 방한횟수 : 1.74 / 1.7263157894736842

In [61]:
print( '남/여 방한횟수 :', 
man.Q1.mean(),'/',
woman.Q1.mean())

남/여 방한횟수 : 2.8545454545454545 / 1.8969072164948453

In [62]:
print( '남/여 전반적인만족도 :', 
man.Q7.mean(),'/',
woman.Q7.mean())

남/여 재방문의사 : 4.781818181818182 / 4.783505154639175

In [64]:
print( '남/여 재방문의사 :', 
man.Q8.mean(),'/',
woman.Q8.mean())

남/여 재방문의사 : 4.654545454545454 / 4.690721649484536

In [65]:
print( '남/여 타인추천 :', 
man.Q9.mean(),'/',
woman.Q9.mean())

남/여 타인추천 : 4.745454545454545 / 4.855670103092783

In [69]:
man.iloc[:,28:45].count()/len(man)*100

Q5A01    74.545455
Q5A02    16.363636
Q5A03    12.727273
Q5A04    10.909091
Q5A05     3.636364
Q5A06     0.000000
Q5A07     9.090909
Q5A08     1.818182
Q5A09    12.727273
Q5A10     5.454545
Q5A11     3.636364
Q5A12     1.818182
Q5A13    18.181818
Q5A14     1.818182
Q5A15     1.818182
Q5A16     0.000000
Q5A17     3.636364
dtype: float64

In [70]:
woman.iloc[:,28:45].count()/len(woman)*100

Q5A01    77.319588
Q5A02    28.865979
Q5A03    14.432990
Q5A04    10.309278
Q5A05     2.061856
Q5A06     3.092784
Q5A07     2.061856
Q5A08     4.123711
Q5A09    15.463918
Q5A10     4.123711
Q5A11     7.216495
Q5A12     3.092784
Q5A13    20.618557
Q5A14     4.123711
Q5A15     1.030928
Q5A16     4.123711
Q5A17     8.247423
dtype: float64

여성이 남성에 비해 12% 더 경기도를 방문한다.

In [73]:
man.Q3.value_counts()/len(man)*100

1    41.818182
3    32.727273
2    10.909091
4     9.090909
6     5.454545
Name: Q3, dtype: float64

In [75]:
woman.Q3.value_counts()/len(woman)*100

1    35.051546
4    19.587629
2    19.587629
6    14.432990
3    11.340206
Name: Q3, dtype: float64

베트남 남자는 사업/또는 전문활동에 여성은 친구/친지가 2위

In [78]:
print( '남/여 사용금액 :', 
man['총액1인MIS'].mean(),'/',
woman['총액1인MIS'].mean())

남/여 사용금액 : 2027.5190100740745 / 2082.2694516483516

베트남에서 한국에 방문한 1번 방문한 사람과 1번 이상 방문 한 사람의 차이  
-> 1번 방문한 사람이 재방문하도록 어떤 것에 치중해야할지 봐도 좋을듯

In [5]:
viet_1 = viet[viet.Q1 == 1]

In [6]:
viet_1.Q3B1.value_counts(normalize=True)*100

1.0     32.0
2.0     22.0
3.0     18.0
13.0    12.0
4.0     12.0
6.0      2.0
7.0      2.0
Name: Q3B1, dtype: float64

In [7]:
df18 = pd.read_csv('/Users/seoihwan/Desktop/escuela/BDA_proj/5_BDA/data/df2018.csv')
df19 = pd.read_excel('/Users/seoihwan/Desktop/escuela/BDA_proj/5_BDA/data/df2019.xlsx')
df20 = pd.read_excel('/Users/seoihwan/Desktop/escuela/BDA_proj/5_BDA/data/df2020.xlsx')
df21 = pd.read_csv('/Users/seoihwan/Desktop/escuela/BDA_proj/5_BDA/data/df2021.csv',encoding='euc-kr')
display(df19)

,Q1,Q2A1,Q2A2,Q2A3,Q2A4,Q2A5,Q2_1,Q3A1,Q3A2,Q3A3,...,D_COU1,D_COU2,D_GEN,D_AGE,D_Q5_1,D_Q12,D_Q1,D_Q1A,CITY,WT
0,2,3,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,1,NaN,2,2,1,1,2,2,1,1.444420
1,1,3,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,...,1,NaN,2,2,1,1,1,1,1,1.444420
2,3,3,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,...,1,NaN,1,2,1,1,3,2,1,1.472539
3,10,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,1,NaN,2,3,1,1,4,2,1,1.923248
4,1,3,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,1,NaN,1,2,1,3,1,1,1,1.472539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16071,2,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,97,NaN,2,4,1,1,2,2,8461,1.499494
16072,3,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,97,NaN,1,6,3,1,3,2,8461,0.725621
16073,1,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,97,NaN,2,3,2,1,1,1,8462,4.810961
16074,2,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,97,NaN,1,5,3,1,2,2,8500,2.405314
16075,1,2,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,97,NaN,1,3,3,1,1,1,8521,1.564814

In [8]:
viet18 = df18[df18.D_COU == 19]
viet19 = df19[df19.D_COU1 == 19]
viet20 = df20[df20.D_NAT == 19]
viet21 = df21[df21.D_NAT == '베트남']
viet22 = viet.copy()

In [231]:
mz21 = viet21[viet21.D_AGE.isin(['21-30세','15-20세','31-40세'])]
no_mz21 = viet21[~viet21.D_AGE.isin(['21-30세','15-20세','31-40세'])]
mz20 = viet20[viet20.D_AGE.isin([1,2,3])]
no_mz20 = viet20[~viet20.D_AGE.isin([1,2,3])]
mz19 = viet19[viet19.D_AGE.isin([1,2,3])]
no_mz19 = viet19[~viet19.D_AGE.isin([1,2,3])]
mz18 = viet18[viet18.D_AGE.isin([1,2,3])]
no_mz18 = viet18[~viet18.D_AGE.isin([1,2,3])]

In [9]:
viet18_1 = viet18[viet18.Q1 == 1]
viet19_1 = viet19[viet19.Q1 == 1]
viet20_1 = viet20[viet20.Q1 == 1]
viet21_1 = viet21[viet21.Q1 == 1]
viet22_1 = viet22[viet22.Q1 == 1]

In [10]:
viet18_1.Q9_2A1.value_counts(normalize=True)*100

1     23.541247
3     18.913481
2     16.700201
4     10.865191
6      4.426559
7      4.024145
5      3.420523
10     3.219316
13     3.018109
14     2.414487
9      2.213280
18     1.609658
8      1.609658
15     1.006036
12     1.006036
11     0.804829
19     0.603622
16     0.402414
17     0.201207
Name: Q9_2A1, dtype: float64

In [169]:
viet19_1.Q9_2A1.value_counts(normalize=True)*100

1     25.562372
2     22.699387
3     20.245399
4      7.157464
8      5.112474
6      4.907975
5      4.294479
7      3.067485
9      2.453988
11     2.249489
12     0.817996
10     0.817996
13     0.613497
Name: Q9_2A1, dtype: float64

In [170]:
viet20_1.Q2_2A1.value_counts(normalize=True)*100

Series([], Name: Q2_2A1, dtype: float64)

In [171]:
viet21_1.Q3B1.value_counts(normalize=True)*100

기타                       60.0
쇼핑                       20.0
패션, 유행 등 세련된 현대 문화 체험    20.0
Name: Q3B1, dtype: float64

In [172]:
viet22_1.Q3B1.value_counts(normalize=True)*100

1.0     32.0
2.0     22.0
3.0     18.0
13.0    12.0
4.0     12.0
6.0      2.0
7.0      2.0
Name: Q3B1, dtype: float64

## 1번 방문한 사람 중 가장 만족한 활동

In [256]:
v18 = viet18_1.Q9_2A1.value_counts()
# v18.index = v18.index.astype('float')
v18 + viet18_1.Q9_2A2.value_counts() + viet18_1.Q9_2A3.value_counts()

1.0     265.0
2.0     292.0
3.0     254.0
4.0     165.0
5.0      58.0
6.0      81.0
7.0      80.0
8.0      18.0
9.0      35.0
10.0     79.0
11.0     21.0
12.0     29.0
13.0     19.0
14.0      NaN
15.0      8.0
16.0     10.0
17.0      NaN
18.0     13.0
19.0      NaN
20.0      NaN
dtype: float64

In [41]:
v18_1 = viet18_1.Q9_2A1.value_counts().reset_index()
v18_2 = viet18_1.Q9_2A2.value_counts().reset_index()
v18_3 = viet18_1.Q9_2A3.value_counts().reset_index()

vv18 = pd.merge(v18_1,v18_2,on='index',how='outer')
vvv18 = pd.merge(vv18,v18_3,on='index',how='outer')
vvv18['Q9_2A1'].fillna(inplace=True,value=0)
vvv18['Q9_2A2'].fillna(inplace=True,value=0)
vvv18['Q9_2A3'].fillna(inplace=True,value=0)
vvv18['tot'] = vvv18['Q9_2A1'] + vvv18['Q9_2A2'] + vvv18['Q9_2A3']
vvv18[['index','tot']].sort_values(['index']).set_index('index')/sum(vvv18.tot)*100

             tot
index
1.0    18.250689
2.0    20.110193
3.0    17.493113
4.0    11.363636
5.0     3.994490
6.0     5.578512
7.0     5.509642
8.0     1.239669
9.0     2.410468
10.0    5.440771
11.0    1.446281
12.0    1.997245
13.0    1.308540
14.0    1.170799
15.0    0.550964
16.0    0.688705
17.0    0.068871
18.0    0.895317
19.0    0.413223
20.0    0.068871

In [69]:
v19 = viet19_1.Q9_2A1.value_counts()
v19_1 = v19.reset_index()
v19_1['index'] = v19_1['index'].astype('int')
v19_2 = viet19_1.Q9_2A2.value_counts().reset_index()
v19_3 = viet19_1.Q9_2A3.value_counts().reset_index()

vv19 = pd.merge(v19_1,v19_2,on='index',how='outer')
vvv19 = pd.merge(vv19,v19_3,on='index',how='outer')
vvv19['Q9_2A1'].fillna(inplace=True,value=0)
vvv19['Q9_2A2'].fillna(inplace=True,value=0)
vvv19['Q9_2A3'].fillna(inplace=True,value=0)
vvv19['tot'] = vvv19['Q9_2A1'] + vvv19['Q9_2A2'] + vvv19['Q9_2A3']
vvv19[['index','tot']].sort_values(['index']).set_index('index')/sum(vvv19.tot)*100

             tot
index
1      23.178808
2      23.252391
3      18.763797
4      11.037528
5       6.916851
6       4.562178
7       2.060338
8       5.739514
9       1.618837
10      0.588668
11      1.545254
12      0.515085
13      0.220751

In [70]:
v22 = viet22_1.Q4B1.value_counts()
v22_1 = v22.reset_index()
v22_1['index'] = v22_1['index'].astype('float')
v22_2 = viet22_1.Q4B2.value_counts().reset_index()
v22_3 = viet22_1.Q4B3.value_counts().reset_index()

vv22 = pd.merge(v22_1,v22_2,on='index',how='outer')
vvv22 = pd.merge(vv22,v22_3,on='index',how='outer')
vvv22['Q4B1'].fillna(inplace=True,value=0)
vvv22['Q4B2'].fillna(inplace=True,value=0)
vvv22['Q4B3'].fillna(inplace=True,value=0)
vvv22['tot'] = vvv22['Q4B1'] + vvv22['Q4B2'] + vvv22['Q4B3']
vvv22[['index','tot']].sort_values(['index']).set_index('index')/sum(vvv22.tot)*100

             tot
index
1.0    25.092251
2.0    27.306273
3.0    19.557196
4.0    10.332103
5.0     3.690037
6.0     2.583026
7.0     0.738007
8.0     1.107011
9.0     0.369004
10.0    2.583026
11.0    2.583026
12.0    0.369004
13.0    0.738007
14.0    1.107011
15.0    1.476015
17.0    0.369004

In [73]:
vietnam_1_satis = pd.DataFrame({})
vietnam_1_satis['2022'] = vvv22[['index','tot']].sort_values(['index']).set_index('index')/sum(vvv22.tot)*100
vietnam_1_satis['2019'] = vvv19[['index','tot']].sort_values(['index']).set_index('index')/sum(vvv19.tot)*100
vietnam_1_satis['2018'] = vvv18[['index','tot']].sort_values(['index']).set_index('index')/sum(vvv18.tot)*100
vietnam_1_satis

            2022       2019       2018
index
1.0    25.092251  23.178808  18.250689
2.0    27.306273  23.252391  20.110193
3.0    19.557196  18.763797  17.493113
4.0    10.332103  11.037528  11.363636
5.0     3.690037   6.916851   3.994490
6.0     2.583026   4.562178   5.578512
7.0     0.738007   2.060338   5.509642
8.0     1.107011   5.739514   1.239669
9.0     0.369004   1.618837   2.410468
10.0    2.583026   0.588668   5.440771
11.0    2.583026   1.545254   1.446281
12.0    0.369004   0.515085   1.997245
13.0    0.738007   0.220751   1.308540
14.0    1.107011        NaN   1.170799
15.0    1.476015        NaN   0.550964
17.0    0.369004        NaN   0.068871

In [81]:
vvv18.sort_values('tot',ascending=False).head(10)['index']

2      2.0
0      1.0
1      3.0
3      4.0
4      6.0
5      7.0
7     10.0
6      5.0
10     9.0
14    12.0
Name: index, dtype: float64

In [82]:
vvv19.sort_values('tot',ascending=False).head(10)['index']

1     2
0     1
2     3
3     4
6     5
4     8
5     6
7     7
8     9
9    11
Name: index, dtype: int64

In [83]:
vvv22.sort_values('tot',ascending=False).head(10)['index']

0      2.0
1      1.0
2      3.0
3      4.0
5      5.0
7     10.0
10    11.0
11     6.0
4     15.0
6     14.0
Name: index, dtype: float64

## MZ

In [26]:
print(viet19[viet19.D_AGE.isin([1,2,3])].MQ14_1T.mean())
print(viet19[~viet19.D_AGE.isin([1,2,3])].MQ14_1T.mean())

1266.7614392477938
1233.4610506490196

In [27]:
print(viet18[viet18.D_AGE.isin([1,2,3])].MQ14_1T.mean())
print(viet18[~viet18.D_AGE.isin([1,2,3])].MQ14_1T.mean())

1223.0454866753207
1243.8587742169059

In [29]:
viet18[viet18.D_AGE.isin([1,2,3])].MQ14_1T.describe()

count     468.000000
mean     1223.045487
std       868.377399
min         1.000000
25%       695.382975
50%      1005.931850
75%      1500.000000
max      6250.000000
Name: MQ14_1T, dtype: float64

In [30]:
viet18[~viet18.D_AGE.isin([1,2,3])].MQ14_1T.describe()

count     209.000000
mean     1243.858774
std       964.382017
min        49.500000
25%       693.950400
50%      1000.000000
75%      1465.510400
max      7000.000000
Name: MQ14_1T, dtype: float64

In [53]:
viet20[viet20.D_AGE.isin([20,30])].Q5_1T.mean()

2986.196652967182

In [61]:
viet21.D_AGE.unique()

array(['21-30세', '51-60세', '31-40세', '15-20세'], dtype=object)

In [65]:
viet21[viet21.D_AGE.isin(['21-30세','15-20세','31-40세'])].총액1인MIS#.mean()

43       907.9020
755     3511.5760
1032          NaN
1440          NaN
1441          NaN
1442          NaN
1443    6074.1730
1444    5206.4340
1445    5206.4340
1446          NaN
1448    6074.1730
3332    2168.5950
3337    4163.7024
3338    8674.3800
3341    3870.0000
5016    1540.0000
5654    4169.7250
Name: 총액1인MIS, dtype: float64

In [66]:
viet21[viet21.D_AGE.isin(['51-60세'])].총액1인MIS#.mean()

203    2723.706
Name: 총액1인MIS, dtype: float64

In [86]:
viet22.Q4.value_counts(normalize=True)*100

1    67.105263
3    23.026316
2     9.868421
Name: Q4, dtype: float64

In [88]:
viet21.D_TYP.value_counts(normalize=True)*100

    개   별    여   행    100.0
Name: D_TYP, dtype: float64

In [89]:
viet19.Q12.value_counts(normalize=True)*100

1    60.962567
3    37.967914
2     1.069519
Name: Q12, dtype: float64

In [90]:
viet18.Q13.value_counts(normalize=True)*100

3    50.147059
1    46.911765
2     2.941176
Name: Q13, dtype: float64

In [96]:
viet22.Q8.mean()

4.677631578947368

In [97]:
viet19.Q16.mean()

4.449197860962567

In [98]:
viet18.Q16.mean()

4.25

In [107]:
len(viet22[viet22.Q1>1])/len(viet22) * 100

38.15789473684211

In [108]:
len(viet19[viet19.Q1>1])/len(viet19) * 100

34.62566844919786

In [109]:
len(viet18[viet18.Q1>1])/len(viet18) * 100

26.91176470588235

In [134]:
v22_1 = viet22.Q3B1.value_counts().reset_index().astype('int')
v22_2 = viet22.Q3B2.value_counts().reset_index().astype('int')
v22_3 = viet22.Q3B3.value_counts().reset_index().astype('int')
vv22 = pd.merge(v22_1,v22_2,on='index',how='outer')
vv22 = pd.merge(vv22,v22_3,on='index',how='outer')
vv22 = vv22.fillna(0).set_index('index')
vv22['tot']=vv22.Q3B1 + vv22.Q3B2 + vv22.Q3B3
vv22['tot'].sort_values(ascending=False).head(5)/sum(vv22['tot'].sort_values(ascending=False).head(5))*100

index
1    31.794872
2    27.179487
3    23.076923
4     9.743590
7     8.205128
Name: tot, dtype: float64

In [ ]:
lst,lst2 = ['viet22', 'viet21'],['Q3B1','Q3B2','Q3B3']
for l in lst:
    cor_af = pd.merge()

In [142]:
v19_1 = viet19.Q5_2A1.value_counts().reset_index().astype('int')
v19_2 = viet19.Q5_2A2.value_counts().reset_index().astype('int')
v19_3 = viet19.Q5_2A3.value_counts().reset_index().astype('int')
v18_1 = viet18.Q5_2A1.value_counts().reset_index().astype('int')
v18_2 = viet18.Q5_2A2.value_counts().reset_index().astype('int')
v18_3 = viet18.Q5_2A3.value_counts().reset_index().astype('int')
cor_be = pd.merge(v19_1,v19_2,on='index',how='outer')
cor_be = pd.merge(cor_be,v19_3,on='index',how='outer')
cor_be = pd.merge(cor_be,v18_1,on='index',how='outer',suffixes=('_19','_18'))
cor_be = pd.merge(cor_be,v18_2,on='index',how='outer',suffixes=('_19','_18'))
cor_be = pd.merge(cor_be,v18_3,on='index',how='outer',suffixes=('_19','_18'))
cor_be = cor_be.fillna(0).set_index('index')
cor_be['tot'] = cor_be.iloc[:,1:].sum(axis=1)
cor_be['tot'].iloc[[1,2,3,4,7]]/sum(cor_be['tot'].iloc[[1,2,3,4,7]]) * 100

index
1     36.917293
3     36.616541
7     16.390977
10     4.887218
6      5.187970
Name: tot, dtype: float64