In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df22 = pd.read_excel('/Users/seoihwan/Desktop/escuela/BDA_proj/5_BDA/data/2022foreigner.xlsx')

In [4]:
viet = df22[df22.D_NAT == 19]
display(viet)

,id,Q1,RQ1,Q3,Q3B1,Q3B2,Q3B3,Q4,Q4A01,Q4A02,...,Q9,D_MON,D_BUN,D_NAT,D_SEX,D_AGE,D_MOK,D_PLA,D_Q1,D_TYP
28,397,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,2,4,1,1,NaN
30,402,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,2,4,1,1,NaN
35,482,1,1,2,13.0,2.0,NaN,1,NaN,2.0,...,5,1,1,19,2,3,2,1,1,NaN
63,627,1,1,2,13.0,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,4,2,1,1,NaN
164,1101,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,5,1,1,19,2,2,4,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18986,40227,3,3,4,NaN,NaN,NaN,1,1.0,2.0,...,5,12,4,19,2,2,4,1,3,NaN
19248,40686,2,2,2,12.0,1.0,3.0,1,1.0,2.0,...,5,12,4,19,2,5,2,3,2,1.0
19341,40824,1,1,4,NaN,NaN,NaN,1,1.0,2.0,...,4,12,4,19,2,2,4,1,1,NaN
19528,41129,4,4,4,NaN,NaN,NaN,1,1.0,2.0,...,4,12,4,19,1,2,4,3,4,1.0
19529,41134,3,3,2,1.0,3.0,2.0,1,1.0,2.0,...,5,12,4,19,2,5,2,3,3,1.0

In [6]:
viet['총액1인TOT'].mean()

2634.8142871315786

In [8]:
viet.groupby('D_AGE')['총액1인TOT'].mean()

D_AGE
1    2426.822800
2    3277.962003
3    2183.563931
4    3001.887056
5    1003.456611
6     897.210000
Name: 총액1인TOT, dtype: float64

### 베트남의 MZ의 가장 만족한 활동

In [9]:
viet['D_AGE'].value_counts()

2    58
3    44
1    20
4    18
5     9
6     3
Name: D_AGE, dtype: int64

In [20]:
mz = viet[viet.D_AGE.isin([1,2,3])]
mz['Q4B1'].value_counts() + mz['Q4B2'].value_counts() + mz['Q4B3'].value_counts()

1.0     88.0
2.0     98.0
3.0     67.0
4.0     36.0
5.0     12.0
6.0      7.0
7.0      NaN
8.0      3.0
9.0      NaN
10.0     8.0
11.0    10.0
12.0     3.0
13.0     NaN
14.0     NaN
15.0     NaN
dtype: float64

In [34]:
mz['Q3B1'].value_counts() + mz['Q3B2'].value_counts() + mz['Q3B3'].value_counts()

1.0     44.0
2.0     42.0
3.0     30.0
4.0     11.0
5.0      NaN
6.0      NaN
7.0     14.0
9.0      NaN
10.0     NaN
11.0     NaN
12.0     NaN
13.0     NaN
dtype: float64

1위 음식  
2위 쇼핑  
3위 자연  
4위 유흥