In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df2019=pd.read_excel(r'C:\Users\user\Downloads\2019년 외래관광객조사 원자료\df2019.xlsx')

In [3]:
df2019.head()

,Q1,Q2A1,Q2A2,Q2A3,Q2A4,Q2A5,Q2_1,Q3A1,Q3A2,Q3A3,...,D_COU1,D_COU2,D_GEN,D_AGE,D_Q5_1,D_Q12,D_Q1,D_Q1A,CITY,WT
0,2,3,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,1,NaN,2,2,1,1,2,2,1,1.444420
1,1,3,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,...,1,NaN,2,2,1,1,1,1,1,1.444420
2,3,3,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,...,1,NaN,1,2,1,1,3,2,1,1.472539
3,10,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,1,NaN,2,3,1,1,4,2,1,1.923248
4,1,3,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,1,NaN,1,2,1,3,1,1,1,1.472539

In [7]:
vietnam=df2019[df2019['D_COU1']==19]

In [13]:
vietnam

,Q1,Q2A1,Q2A2,Q2A3,Q2A4,Q2A5,Q2_1,Q3A1,Q3A2,Q3A3,...,D_COU1,D_COU2,D_GEN,D_AGE,D_Q5_1,D_Q12,D_Q1,D_Q1A,CITY,WT
12892,1,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,19,NaN,2,2,4,1,1,1,5101,0.392012
12893,2,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,19,NaN,1,5,3,1,2,2,5101,0.404324
12894,2,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,19,NaN,1,3,3,1,2,2,5101,0.395894
12895,2,3,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,19,NaN,2,2,1,1,2,2,5101,0.392012
12896,1,3,NaN,NaN,NaN,NaN,4.0,1.0,NaN,NaN,...,19,NaN,2,2,1,1,1,1,5101,0.392012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13635,1,2,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,19,NaN,1,3,2,1,1,1,5153,0.235207
13636,1,2,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,19,NaN,2,4,1,2,1,1,5154,0.528949
13637,1,2,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,...,19,NaN,2,3,1,2,1,1,5155,0.488184
13638,1,3,NaN,NaN,NaN,NaN,6.0,1.0,NaN,NaN,...,19,NaN,1,6,1,2,1,1,5156,1.614635
13639,1,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,19,NaN,2,4,1,2,1,1,5157,0.587463

### 한국 방문 선택 시 고려 요인

In [17]:
vietnam['Q5_2A1'].value_counts()

2.0     140
1.0     138
3.0     117
7.0      61
10.0     51
4.0      49
5.0      26
6.0      20
13.0     10
11.0      8
8.0       8
12.0      5
9.0       1
Name: Q5_2A1, dtype: int64

###### 1순위  
1순위: 쇼핑   
2순위: 음식/미식 탐방   
3순위: 자연풍경 감상   
4순위: 유흥/놀이시설 체험    
5순위: 휴가시간

In [18]:
vietnam['Q5_2A2'].value_counts()

2.0     153
1.0     119
3.0     104
7.0      67
4.0      55
10.0     30
5.0      22
12.0      9
11.0      9
6.0       8
8.0       5
Name: Q5_2A2, dtype: int64

###### 2순위  
1순위: 쇼핑   
2순위: 음식/미식 탐방   
3순위: 자연풍경 감상   
4순위: 유흥/놀이시설 체험    
5순위: 역사/문화 유적/ 전통문화 체험

In [19]:
vietnam['Q5_2A3'].value_counts()

3.0     102
1.0      87
2.0      72
7.0      67
4.0      59
5.0      39
10.0     19
12.0     14
6.0      13
11.0     13
8.0       5
9.0       1
13.0      1
Name: Q5_2A3, dtype: int64

###### 3순위  
1순위: 자연풍경 감상    
2순위: 음식/미식 탐방      
3순위: 쇼핑   
4순위: 유흥/놀이시설 체험       
5순위: 역사/문화 유적/ 전통문화 체험

### 주요 참여 활동

In [22]:
vietnam['Q9_1A1'].value_counts()

1     696
2      40
11      7
3       3
12      2
Name: Q9_1A1, dtype: int64

In [23]:
vietnam.iloc[:42,62].count()

38

In [24]:
vietnam['Q9_1A2'].value_counts()

2.0     667
3.0      42
11.0     11
4.0       8
14.0      1
6.0       1
5.0       1
8.0       1
12.0      1
Name: Q9_1A2, dtype: int64

In [43]:
vietnam['Q9_1A9'].value_counts()

10.0    9
9.0     5
12.0    2
13.0    2
Name: Q9_1A9, dtype: int64

### 만족한 활동

In [46]:
vietnam['Q9_2A1'].value_counts()

1     205
2     177
3     129
4      53
8      36
5      28
6      28
11     27
7      26
9      17
12      9
13      5
10      5
14      3
Name: Q9_2A1, dtype: int64

###### 1순위  
1순위: 식도락 관광   
2순위: 쇼핑  
3순위: 자연풍경 감상   
4순위: 고궁/역사 유적지 방문  
5순위: 유흥/ 오락

In [47]:
vietnam['Q9_2A2'].value_counts()

2.0     216
1.0     161
3.0     116
4.0      77
5.0      44
8.0      36
6.0      26
11.0     11
7.0       7
10.0      6
9.0       6
12.0      4
13.0      1
Name: Q9_2A2, dtype: int64

###### 2순위  
1순위: 쇼핑   
2순위: 식도락 관광   
3순위: 자연경관 감상   
4순위: 유흥/놀이시설 체험    
5순위: 전통문화체험

In [48]:
vietnam['Q9_2A3'].value_counts()

1.0     128
3.0     124
2.0     111
4.0      79
5.0      47
8.0      39
6.0      27
11.0     13
7.0      11
9.0      10
10.0      2
Name: Q9_2A3, dtype: int64

###### 3순위  
1순위: 식도락 관광   
2순위: 자연풍경 감상   
3순위: 쇼핑 
4순위: 고궁/역사 유적지 방문    
5순위: 전통문화체험

### 방문지역

In [56]:
print(vietnam.columns.get_loc('Q10_1B1'))
print(vietnam.columns.get_loc('Q10_1B17'))

94
110

In [58]:
vietnam.iloc[:,94:110].count()

Q10_1B1     607
Q10_1B2      99
Q10_1B3      22
Q10_1B4      42
Q10_1B5       5
Q10_1B6      11
Q10_1B7       8
Q10_1B8     175
Q10_1B9     191
Q10_1B10      3
Q10_1B11     14
Q10_1B12      9
Q10_1B13     18
Q10_1B14     26
Q10_1B15     30
Q10_1B16     38
dtype: int64

### 주요이용숙박시설

In [68]:
print(vietnam.columns.get_loc('Q10_5A1'))
print(vietnam.columns.get_loc('Q10_5A8'))

196
203

In [72]:
vietnam.iloc[:,196:203].count()

Q10_5A1    543
Q10_5A2     54
Q10_5A3     32
Q10_5A4      9
Q10_5A5    137
Q10_5A6     14
Q10_5A7     27
dtype: int64

 1위: 호텔   
 2위: 친척 또는 친구집   
 3위: 모텔/여관   
 4위: 게스트하우스/ 호스텔   
 5위: 민박/공유숙박